<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

	<!-- hibernate的方言，用来确定连接的数据库 类型-->

	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLInnoDBDialect
	</property>

	<!-- 数据库的连接类 -->

	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>

	<!-- 数据库的连接字符串和用户名密码 -->

	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/sscs
	</property>

	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">root</property>

	<!-- 在使用hibernate时会显示相应的SQL -->
	<property name="show_sql">true</property>

	<!-- 会自动完成类到数据表的转换 -->
	<property name="hibernate.hbm2ddl.auto">update</property>
	
	<!-- 开启CurrentSession本地事务(JDBC事务) -->
	<property name="hibernate.current_session_context_class">thread</property>

	<!-- 映射具体资源 -->
	<property name="myeclipse.connection.profile">MySQL</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/sscs
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>

	<!-- 关联POJO配置文件映射 -->
	<mapping resource="cn/lry/domains/Course.hbm.xml" />
	<mapping resource="cn/lry/domains/Student.hbm.xml" />
	<mapping resource="cn/lry/domains/Admin.hbm.xml" />


</session-factory>

</hibernate-configuration>